[Unit]
Description=Power Saving Tweaks

[Service]
Type=oneshot
ExecStart=/usr/sbin/ethtool -s eth0 wol d
ExecStart=/usr/sbin/iw dev wlan0 set power_save on

[Install]
WantedBy=multi-user.target
